[project]
	description = rTestRepository : Rajeev Kumar test respository 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rkum74
[access "refs/for/refs/*"]
	read = group user/rkum74
	push = group user/rkum74
	label-Code-Review = -2..+2 group user/rkum74
	label-Verified = -1..+1 group user/rkum74
	rebase = group user/rkum74
	removeReviewer = group user/rkum74
	submit = group user/rkum74
[access "refs/heads/*"]
	read = group user/rkum74
	create = group user/rkum74
	push = +force group user/rkum74
	pushMerge = group user/rkum74
[access "refs/tags/*"]
	push = group user/rkum74
	push = +force group user/rkum74
